$icon = 'CornflowerBlue'

.avatar
  background-color: CornflowerBlue
  border-radius: 50%
  width: 42px
  height: 42px
  margin-right: 20px
  margin-left: 20px

.pied-piper
  content:url('./images/pied-piper.png')
  width: 142px
  height: 142px
  display: block

.child
  content:url('./images/person.png')

.paper-plane
  content:url('./images/plane.png')

.avatar .pied-pier:
  position: fixed
  width: 120px
  height: 120%
