$main-font = 'Arial'
$background-color = 'white'

html, body
  height: 100%
  font-family: $main-font
  background-color: $background-color

body
  top: 0
  right: 0
  left: 0
  margin: 100px
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

a
    font-size: 12px


@import 'stylus/main.styl'
@import 'stylus/secondary.styl'
@import 'stylus/card.styl'
@import 'stylus/content.styl'
@import 'stylus/header.styl'
@import 'stylus/container.styl'
@import 'stylus/section.styl'
@import 'stylus/footer.styl'
@import 'stylus/group.styl'
@import 'stylus/icons.styl'
