.secondary
  padding: 20px

.secondary .sub-header
  display: none

.secondary .card
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

.secondary .content
    text-align: center
